.menu-items{
  text-align: right;
  padding-top: 10px;
  font-size: 22px;
}
.button{
  color: gold;
  font-family: Tahoma;
}
.footer-box{
  background-color: black;
  width: 100%;
  height: 125px;

}
a:hover{
  color: #863e37;
}
h6{
  text-align: center;
  color: gold;
  font-size: 10px;
  font-family: Tahoma;
}
